@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.85em;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 40px;
}

h1:hover{
    cursor: pointer;
}

#container {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

#container>div:first-child {
    width: 47%;
}

#container>div:last-child {
    width: 47%;
}

img {
    width: 100%;
}

img:hover{
    cursor: pointer;
}

.image {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

h3 {
    font-weight: 400;
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.category {
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 14px;
    margin: 12px 0px;
}

p:hover{
    cursor: pointer;
}